<nav class="pv2 ph2" role="navigation">
  <div class="flex justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="hover-gold white">
      {{ partial "svg/signature.svg" }}
    </a>
    <div class="flex items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="pl0">
          {{ range .Site.Menus.main }}
          <li class="list f4 fw4 dib ph3">

            {{ $hover_color := index ($.Param "menu_colors") .Name }}
            <a class="hover-{{ $hover_color }} no-underline white-90" href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</nav>
